footer {
  background-color: var(--tsc-red);
  color: #fff;
  font-size: var(--body-font-size-s);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer h3 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-l);
  font-weight: 700;
  color: #fff;
  margin-top: 0;
}

footer .footer p {
  margin: 0;
  color: #fff;
}

footer .footer a:any-link {
  color: #fff;
  font-weight: 700;
  font-size: var(--body-font-size-s);
  text-decoration: none;
}

footer .footer a:hover {
  text-decoration: underline;
}

footer .footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footer ul li {
  padding: 4px 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }
}
